#index-banner{
    background: linear-gradient(#0143A3,#0273D4);
}

.section {
    color: #445A64;
}

h5 > .material-icons {
    vertical-align: middle;
}

nav.top-nav {
  height: 122px;
  box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

.card pre {
  background: inherit;
}

.card code {
  font-size: 13px;
}

.docs-body h1 {
    font-size: 2.8em;
}

.docs-body h2 {
    font-size: 2.2em;
}

.docs-body h3 {
    font-size: 1.8em;
}

.docs-body h4 {
    font-size: 1.2em;
}

.docs-body li {
  list-style-type: disc;
}

.docs-body ul {
  padding-left: 30px;
}

.tocify {
  width: inherit;
  position: inherit;
}
