#index-banner{
    background: linear-gradient(#0143A3,#0273D4);
}

.section {
    color: #445A64;
}

h5 > .material-icons {
    vertical-align: middle;
}

nav.top-nav {
  height: 122px;
  box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

.card pre {
  background: inherit;
}

.card code {
  font-size: 13px;
}
