---
---
<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="blue darken-3 z-depth-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">angular-model-factory</a>
                <ul class="right hide-on-med-and-down light">
                    <li>
                        <a href="https://github.com/Swimlane/angular-model-factory/issues"><i class="material-icons left">bug_report</i>&nbsp;Issues</a>
                    </li>
                    <li>
                        <a href="https://github.com/Swimlane/angular-model-factory#contributing"><i class="material-icons left">group</i>&nbsp;Contribute</a>
                    </li>
                    <li>
                        <a href="https://github.com/Swimlane/angular-model-factory"><i class="material-icons left">code</i>&nbsp;Fork on GitHub</a>
                    </li>
                    <li>
                        <a href="#install"><i class="material-icons left">cloud_download</i>&nbsp;Install</a>
                    </li>
                </ul>

                <ul id="nav-mobile" class="side-nav light">
                    <li>
                        <a href="https://github.com/Swimlane/angular-model-factory/issues"><i class="material-icons left">bug_report</i>&nbsp;Issues</a>
                    </li>
                    <li>
                        <a href="https://github.com/Swimlane/angular-model-factory#contributing"><i class="material-icons left">group</i>&nbsp;Contribute</a>
                    </li>
                    <li>
                        <a href="https://github.com/Swimlane/angular-model-factory"><i class="material-icons left">code</i>&nbsp;Fork on GitHub</a>
                    </li>
                    <li>
                        <a href="#install"><i class="material-icons left">cloud_download</i>&nbsp;Install</a>
                    </li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"> <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </div>
    <div class="section no-pad-bot purple darken-2" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center white-text">
                <img src="imgs/angular-logo.png" height="100" width="100" style="vertical-align:middle;">
                Model Factory
            </h1>
            <div class="row center">
                <h5 class="header col s12 white-text light">Backend communication made easy!</h5>
            </div>
            <div class="row center">
                <a href="#useit" id="download-button" class="btn-large waves-effect waves-light grey lighten-5" style="color:black;">Learn how to use it</a>
                <a href="#install" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <h5>Github pages tests</h5>
            <div class="row">
                <div class="col s12 m12">
                    <ul>
                        <li>hostname: {{ site.github.hostname }}</li>
                        <li>issues_url: {{ site.github.issues_url }}</li>
                        <li>owner_name: {{ site.github.owner_name }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <h2>Contributors</h2>
                <ul>
                {% for contributor in site.github.contributors %}
                  <li>
                    <img src="{{ contributor.avatar_url }}" width="32" height="32" /> <a href="{{ contributor.html_url }}">{{ contributor.login }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
            <div class="row">
                <h2>Releases</h2>
                <ul>
                {% for release in site.github.releases %}
                  <li>
                  <a href="{{ release.url }}">{{ release.tag_name }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Swimlane</h5>
                    <p class="grey-text text-lighten-4">
                        <strong>angular-model-factory</strong> is a Swimlane open-source project; we believe in giving back to the open-source community
                        by sharing some of our projects. Swimlane is an automated cyber security operations and incident
                        response platform that enables cyber security teams to leverage threat intelligence,
                        speed up incident response and automate security operations.  Learn more at <a href="http://swimlane.com" target="_blank">Swimlane.com</a>.
                    </p>
                </div>
                <div class="col l6 s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"><i class="material-icons">equalizer</i>&nbsp;Repo stats</span>
                            <ul>
                                <li><span>Version:</span> 0.4.1</li>
                                <li><span>Author:</span> <a href="https://twitter.com/amcdnl">@amcdnl</a></li>
                                <li><span>Main Contributor:</span> <a href="https://twitter.com/juristr">@juristr</a></li>
                                <li></li>
                            </ul>
                            <a href="https://github.com/Swimlane/angular-model-factory" class="waves-effect waves-light btn"><i class="material-icons left"></i>Open repo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue-grey darken-4">
            <div class="container">
                Powered by
                <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript">
        (function($) {
            $(function() {
                $('.button-collapse').sideNav();
            });

            $('pre').each(function(){
                var el = $(this);
                if(el.hasClass('nohighlight') === false){
                  el.addClass('prettyprint');
                }
              });
        })(jQuery);
    </script>
</body>
</html>
