<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ site.github.url}}/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{{ site.github.url}}/assets/prism/prism.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="{{ site.github.url}}/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="blue darken-3 z-depth-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">{{ site.github.repository_name}}</a>
                <ul class="right hide-on-med-and-down light">
                    <li>
                        <a href="{{ site.github.issues_url }}"><i class="material-icons left">bug_report</i>&nbsp;Issues</a>
                    </li>
                    <li>
                        <a href="{{ site.github.repository_url}}#contributing"><i class="material-icons left">group</i>&nbsp;Contribute</a>
                    </li>
                    <li>
                        <a href="{{ site.github.repository_url }}"><i class="material-icons left">code</i>&nbsp;Fork on GitHub</a>
                    </li>
                    <li>
                        <a href="#install"><i class="material-icons left">cloud_download</i>&nbsp;Install</a>
                    </li>
                </ul>

                <ul id="nav-mobile" class="side-nav light">
                    <li>
                        <a href="{{ site.github.issues_url }}"><i class="material-icons left">bug_report</i>&nbsp;Issues</a>
                    </li>
                    <li>
                        <a href="{{ site.github.repository_url}}#contributing"><i class="material-icons left">group</i>&nbsp;Contribute</a>
                    </li>
                    <li>
                        <a href="{{ site.github.repository_url }}"><i class="material-icons left">code</i>&nbsp;Fork on GitHub</a>
                    </li>
                    <li>
                        <a href="#install"><i class="material-icons left">cloud_download</i>&nbsp;Install</a>
                    </li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"> <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </div>

    {{ content }}

    <footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Swimlane</h5>
                    <p class="grey-text text-lighten-4">
                        <strong>angular-model-factory</strong> is a <strong>Swimlane</strong> open-source project; we believe in giving back to the open-source community
                        by sharing some of our projects. Swimlane is an automated cyber security operations and incident
                        response platform that enables cyber security teams to leverage threat intelligence,
                        speed up incident response and automate security operations.<br/>Learn more at <a href="http://swimlane.com" target="_blank">Swimlane.com</a>.
                    </p>
                </div>
                <div class="col l6 s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"><i class="material-icons">equalizer</i>&nbsp;Repo stats</span>
                            <ul>
                                <li><span>Version:</span> 0.4.5</li>
                                <li><span>Author:</span> <a href="https://twitter.com/amcdnl">@amcdnl</a></li>
                                <li><span>Main Contributor:</span> <a href="https://twitter.com/juristr">@juristr</a></li>
                                <li></li>
                            </ul>
                            <a href="https://github.com/Swimlane/angular-model-factory" class="waves-effect waves-light btn"><i class="material-icons left"></i>Open repo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue-grey darken-4">
            <div class="container">
                Powered by
                <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>-->
    <script type="text/javascript" src="{{ site.github.url}}/js/materialize.min.js"></script>
    <!--<script type="text/javascript" src="{{ site.github.url}}/js/prettify.js"></script>-->
    <script src="{{ site.github.url}}/assets/prism/prism.js"></script>
    <script type="text/javascript">
        (function($) {
            $(function() {
                $('.button-collapse').sideNav();
            });

            $('pre').each(function(){
                var el = $(this);
                if(el.hasClass('nohighlight') === false){
                  el.addClass('prettyprint');
                }
              });
        })(jQuery);
    </script>
</body>
</html>
