---
layout: default
---
<div class="section no-pad-bot purple darken-2" id="index-banner">
    <div class="container">
        <h1 class="header center white-text">{{ page.title }}</h1>
        <br />
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- <div class="col s4">
        <div id="toc"></div>
    </div>
    -->
    <div class="col s12">
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel lime lighten-5">
                    <span class="black-text">
                        We're continuously working on improving this documentation. There's more to discover than might currently be described on this page.<br/>
                        As such, you might want to take a look at our vast <a href="https://github.com/Swimlane/angular-model-factory/blob/master/test/spec/modelUsage.spec.js">set of test cases</a> as well.<br/>
                        You may also want to <a href="https://github.com/Swimlane/angular-model-factory/blob/gh-pages/howto/index.md">contribute</a> if you found some undocumented piece :smiley:<br />
                        <strong>Stay tuned!</strong>
                    </span>
                </div>
            </div>
        </div>
        <article class="row docs-body">{{ content }}</article>
    </div>
</div>
</div>